.wrapper {
    background: #1a1a1a;
    min-height: calc(100vh - 60px);
    overflow: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 23%;
    border: 1px solid gray;
    background: rgb(185, 185, 185);
    height: fit-content;
    padding: 10px;
    border-radius: 6px;
    position:L relative;
}

.imageDiv {
    display: flex;
    justify-content: center;
}

.img {
    max-width: 90%;
    height: 100%;
}

.contentDiv {
    position: relative;
}

.titleText {
    font-size: 25px; 
    font-weight: bold;
    margin: 0px 20px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.descriptionText {
    font-size: 18px;
    margin: 0px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
    -webkit-box-orient: vertical;

}

.fundTextDiv {
    margin: 20px ;
}

.fundTextDiv_Text1 {
    font-size: 25px;
}
.fundTextDiv_Text2 {
    font-size: 20px;
    opacity: 0.7;
}

.fundDiv {
    display: flex;
    justify-content: center;
    position: inherit;
    bottom: 0px;
}

.fundBtn {
    padding: 10px;
    margin: 5px;
}

.popupDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bolder;
    opacity: 0.5;
}

.closeIcon:hover {
    opacity: 1;
    cursor: pointer;
}

.popupCard {
    position: relative;
    width: 400px;
    height: fit-content;
    background-color: rgb(202, 202, 202);
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.popupText1 {
    font-size: 17px;
}

.popupText2 {
    font-size:25px;
    font-weight: bolder;
}

.popupInput {
    font-size: 25px;
    padding: 10px 5px;
    width: 75%;
    margin-top: 10px;
}

.popupFundBtn {
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 70%;
    }
}