.wrapper {
    height: 60px;
    background-color: black;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.link, .activeLink {
    all: unset;
    color: white;
    text-decoration: none;
}

.activeLink {
    color: #00a8ff;
}

.headerText, .pageName {
    font-size: 23px;
    user-select: none;
    font-weight: 500;
}

.pageName {
    font-weight: bolder;
    padding: 20px;
    cursor: pointer;
}

.section1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.section2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}